html,
body {
  margin: 0;
  padding: 0;
}

body,
.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #fff;
}

.event-data #countdown,
.btn,
.nav ul li,
.main p,
.jumbotron .container p {
  font-size: 1.2rem;
}

.main * {
  color: #000;
}

.main p:first-of-type {
  margin-top: 10%;
}

.header {
  background: linear-gradient(rgba(16, 11, 62, 0.4), rgba(16, 11, 62, 0.9)),
    url(./assets/images/bg-top.jpg) no-repeat center;
  background-size: cover;
  height: 800px;
  text-align: center;
}

.header .container {
  position: relative;
  top: 130px;
  margin: 0 auto;
}

.event-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(255, 255, 255, 0)
  );
}

.event-data #countdown {
  font-weight: 400;
  margin-top: 2rem;
}

.event-data h2 {
  color: #117bff;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
  text-shadow: #000 1px 1px 1px;
}

.event-data ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.event-data ul li {
  margin-right: 2em;
  font-weight: 400;
}

.event-data ul li i {
  display: inline-block;
  margin-right: 10px;
}

.event-data #countdown,
.header h1,
.header p {
  text-transform: uppercase;
}

.header h1 {
  line-height: 100px;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 45px;
  text-align: center;
}

#typedText1,
#typedText2 {
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end);
}

@keyframes typing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header p {
  font-weight: 500;
  letter-spacing: 8px;
  margin-bottom: 40px;
}

.btn,
.nav,
.footer {
  background-color: #000;
}

.btn {
  padding: 10px 40px;
  text-decoration: none;
  transition: background-color 0.5s;
}

.nav,
.footer {
  height: 80px;
}

.nav ul {
  list-style: none;
  margin: 0 5% 0 0;
}

.nav ul li {
  display: inline-block;
  height: 100%;
  line-height: 80px;
  list-style: none;
  padding: 0 1em;
}

.btn:hover,
.nav ul li:hover {
  background: #117bff;
  cursor: pointer;
  transition: background-color 0.5s;
}

.main .container {
  margin: 8% 5%;
}

.main {
  width: 80%;
  margin: auto;
}

.main .container h2,
.jumbotron h2 {
  font-size: 2rem;
}

.main img {
  height: 240px;
  width: 320px;
  border-radius: 150px;
  float: left;
  margin: 50px 80px 50px 0;
}

.main p {
  line-height: 1.8rem;
}

.jumbotron,
.jumbotron .container {
  display: flex;
  align-items: flex-end;
}

.jumbotron {
  justify-content: flex-end;
  background: linear-gradient(rgba(16, 11, 62, 0.4), rgba(16, 11, 62, 1)),
    url(./assets/images/bg-bottom.jpg) no-repeat center;
  background-size: cover;
  height: 600px;
}

.jumbotron .container {
  flex-direction: column;
  padding: 0 10% 10% 0;
}

.jumbotron .container p {
  
  line-height: 2rem;
  text-align: right;
}

.footer {
  padding: 25px;
}

.footer p {
  font-size: 1em;
  line-height: 80px;
  margin: 0 5%;
}

@media only screen and (min-width: 390.1px) and (max-width: 820px) {
  body {
    overflow: auto;
  }
  .main .container {
    margin: 20% 0;
  }
  .main .img-container {
  float: right;
  }

  .main img {
    margin: 0 0 0 5px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 390px) {
  body {
    overflow: auto;
    font-size: 2rem;
    margin: 0;
  }

  .header > * {
    text-shadow: #000 1px 1px;
  }
  
  .event-data {
    padding-bottom: 80px;
     background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.8),
      rgb(31, 145, 163, 0)
    );
    border-radius: 0 0 50% 50%;

  }

  #countdown {
    color: black;
    font-weight: 700;
  }

  .header .container {
    position: relative;
    top: 60px;
    margin: 0 auto;
  }

  .header p {
    font-size: 1.5rem;
  }

  #myText {
    font-size: 50px;
    margin-bottom: 30px;
  }

  .event-data #countdown,
  .btn,
  .main p,
  .jumbotron .container p {
    font-size: 2rem;
    line-height: 1.5;
  }

  .nav ul li {
    font-size: 1.91rem;
    font-weight: 400;
  }

  .main .container h2,
  .jumbotron h2 {
    font-size: 2.9rem;
  }

   .footer p {
    font-size: 1.5rem;
  }
}
